<!DOCTYPE html>
<html>
  <head>
    <title>Last Workout</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="GymLive - Last Workout" />

    <meta name="fc:frame" content="vNext" />
    <meta name="fc:frame:image" content={@image} />

    <meta name="fc:frame:button:1" content="Join me on GymLive" />
    <meta name="fc:frame:button:1:action" content="link" />
    <meta name="fc:frame:button:1:target" content="https://frosty-rain-4402.fly.dev/" />

    <meta name="og:image" content={@image} />
  </head>
</html>
